.slider_container {
    display: flex;
    color:plum;
    padding: 30px;
    /* border: 2px solid purple; */
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.image_container {
    display: flex;
    /* border: 2px solid rgb(30, 128, 0); */
    border-radius: 20px;
    justify-content:center;
    align-items: center;
    transition: transform 0.5s ease;
    transform: translateX(0);
    width: 60%;
    overflow: hidden;
    /* transform: translateX(-${(currentInd * 100) / 3}%); */
}

.image {
    border-radius: 13px;
    /* max-width:20%; */
    height: 130px;
    margin: 0 10px;
}

.prevButton {
    cursor: pointer;
    left: 170px;
    width: 50px; 
    height: 50px; 
    position: absolute;
}

.nextButton {
    cursor: pointer;
    right: 170px;
    width: 50px; 
    height: 50px;
    position: absolute;
}